/* Ant Table */
/* .ant-spin-container {
  border: 1px solid #c8c8c8;
  border-radius: 9px;
}

.ant-table-thead {
  background: #f5fafa !important;
}

.ant-table-thead > tr > th {
  background: transparent !important;
  font-weight: bold !important;
  letter-spacing: 0em;
  color: #1f1b1b !important;
}

.ant-table-thead > tr > th .ant-table-cell:first-child {
  border-top-left-radius: 10px !important;
}

.ant-table-thead > tr > th:last-child {
  border-top-right-radius: 10px;
}

.ant-table-pagination.ant-pagination {
  padding: 0px 20px 0px 20px;
} */
