.single-form .ant-form-item-label {
  text-align: left !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
}

.single-form input {
  background: #ffffff !important;
  border: 1px solid #c8c8c8 !important;
  box-sizing: border-box;
  border-radius: 4px !important;
}

.ant-form-item-control {
  line-height: 0;
}
