.ant-card {
  background: #ffffff !important;
  border: 1px solid #c8c8c8 !important;
  border-radius: 9px 9px 9px 9px !important;
}

.ant-card-head {
  border-radius: 9px 9px 0px 0px !important;
  background: #f5fafa !important;
  text-align: center;
}

.wrapper-card {
  margin-bottom: 30px !important;
}

.wrapper-card:last-child {
  margin-bottom: 0px !important;
}

.content-card {
  margin-bottom: 30px !important;
}

/* .content-card:last-child {
  margin-bottom: 0px !important;
} */

.wrapper-autocomplete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 4px 11px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}

.wrapper-autocomplete svg {
  color: #d9d9d9;
}

.wrapper-autocomplete:hover {
  cursor: pointer;
}

.dropdown-wrapper {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.dropdown-wrapper .area-dropdown {
  width: 100%;
  padding: 10px;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-radius: 0px 0px 2px 2px;
  height: 100%;
  background: #ffffff;
}

.dropdown-wrapper .area-dropdown input {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-bottom: 10px;
  outline: none;
  padding: 3px 11px;
  font-size: 14px;
}

.dropdown-wrapper .area-dropdown ul {
  position: relative;
  margin: 0;
  padding: 0 7px;
  /* max-height: 160px;
  overflow: auto; */
}

.dropdown-wrapper .area-dropdown li {
  list-style-type: none;
  padding: 3px 0px 3px 0px;
  margin-bottom: 5px;
  font-size: 13px;
}

.dropdown-wrapper .area-dropdown li:last-child {
  margin-bottom: 0px;
}

.dropdown-wrapper .area-dropdown li:hover {
  cursor: pointer;
  background: #c8c8c8;
}

/* .check-box-card .ant-card-body {
  background: red !important;
} */
